* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background1 {
    background-image: url(../assets/img/background.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.title {
    text-align: center;
    padding-top: 220px;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Estilo para el navbar */

.navbar {
    background-color: black;
    /* padding: 0; */
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #485694; 
}

.navbar .nav {
    justify-content: center;
    width: 100%;
    background-color: black;
}

.scrollspy-example {
    color: white;
}

#scrollspyHeading1 {
    background-color: #0a1231;
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

#scrollspyHeading2 {
    background-color: #1a244f;
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

#scrollspyHeading3 {
    background-color: #0a1231;
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

#scrollspyHeading4 {
    background-color: #1a244f;
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

#scrollspyHeading5 {
    background-color: #0a1231;
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

#scrollspyHeading6 {
    background-color: #1a244f;
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

#scrollspyHeading7 {
    background-color: #0a1231;
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.icon{
    border-radius: 50px;
    color: white;
    font-size: 50px;
}
.icon:hover{
    transform: scale(1.2);
}

footer {
    height: 500px;
}

.footerText {
    padding-top: 50px;
}

img {
    width: 70%;
}